{{ if eq .chezmoi.os "linux" }}
{{ if (contains "Microsoft" .chezmoi.kernel.osrelease) }}
alias op="op.exe"
{{ end }}
{{ end }}

fish_vi_key_bindings
function SpawnNeovideWindow
 systemctl --user start neovide-client
end

starship init fish | source

nerdfetch