[Unit]
Description=Socket file for the service file of the same name, allows the service to be started on demand rather than starting it at boot
Documentation=man:nvim
AssertPathExists=%h/.cache/nvim
Requires=neovim-server.service

[Socket]
ListenStream=%h/.cache/nvim/server.pipe
Accept=no 
; We want to have all clients connect to the same server instance rather than their own

[Install]
WantedBy=sockets.target
