[Unit]
Name=Neovide GUI
Description=Neovide GUI Instance that should spawn after attaching to the neovim server
Requires=neovim-server.service

[Service]
Type=exec
ExecStart=/usr/bin/neovide --server %h/.cache/nvim/server.pipe

[Install]
WantedBy=default.target
