[Unit]
Description=Neovim Embedded Server instance to be conntected to by clients for shared instance control
Documentation=man:nvim

[Service]
Type=exec
ExecStart=/usr/bin/nvim --embed --listen %h/.cache/nvim/server.pipe

[Install]
WantedBy=default.target
