{{ if eq .chezmoi.os "windows" }}
[cd]
command = "pwsh"
{{ end }}

[edit]
command = "nvim"

[git]
autoCommit = true

[onepassword]
mode = "service"

{{ if and (eq .chezmoi.os "linux") (ne (env "CHEZMOI_CONTAINER") "1") }}
[hooks.read-source-state.pre]
    command = "sh"
    args = ["{{ .chezmoi.sourceDir }}/bootstrap-paru.sh"]
{{ end }}
