{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

{{ if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh"
{{ end }}

[diff]
    command = "nvim"
    args = "-d"
