#!/bin/bash

{{template "bash/pyenv_shell_config.sh" .}}

eval "$(starship init bash)"

# Set up fzf key bindings and fuzzy completion
eval "$(fzf --bash)"
# properly setup environment variables for lua
eval $(luarocks path --bin)
