{{- if ne .chezmoi.hostname "USMINDARBURGES1" }}
https://ca-mantis-shrimp:{{ onepasswordRead "op://Personal/personal_github_pat_token/password" }}@github.com
{{ end }}
{{- if eq .chezmoi.hostname "USMINDARBURGES1" }}
https://darburgess:{{ onepasswordRead "op://work/work_pat_token/password" }}@github.com
{{ end }}
