[user]
  {{- if ne .chezmoi.hostname "USMINDARBURGES1" }}
	email = dargondab9@gmail.com
	name = Darrion Burgess
  {{- end }}
  {{- if eq .chezmoi.hostname "USMINDARBURGES1" }}
	email = darburgess@deloitte.com
	name = Darrion Burgess
  {{- end }}