#!/bin/bash
export PATH=$PATH:~/.local/bin
export PATH="/home/$USER/.local/share/bob/nvim-bin:$PATH"

export BROWSER=qutebrowser

export TODOIST_API_KEY={{ onepasswordRead "op://Back-End/todoist_api_key/credential" }}
export TODOIST_TEST_API_KEY={{ onepasswordRead "op://Back-End/todoist_test_api_key/credential" }}


{{- if eq .chezmoi.hostname "DAB_desktop"}}
export PATH=$PATH:$HOME/.local/bin/structurizr-cli
{{- end }}

{{- if eq .chezmoi.hostname "USSFODARBURGES3" }}
export OP_SERVICE_ACCOUNT_TOKEN={{ onepasswordRead "op://work/work_and_personal_service_account/credential" }}
export DYNATRACE_EA_PROD_API_KEY={{ onepasswordRead "op://work/dynatrace_ea_prod_api_key/credential" }}
export SNOW_MIRROR_DADBOD={{ onepasswordRead "op://work/SNOWMIRROR/dadbod" }}
{{ else }}
export OP_SERVICE_ACCOUNT_TOKEN={{ onepasswordRead "op://Back-End/personal_service_account/password" }}
export OPENAI_API_KEY={{ onepasswordRead "op://Back-End/openai_api_key/credential" }}
export ANTHROPIC_API_KEY={{ onepasswordRead "op://Back-End/anthropic_api_key/credential" }}
{{- end }}
XCURSOR_SIZE=24
HYPRCURSOR_SIZE=24

# source bashrc
. "$HOME/.bashrc"
