#!/bin/bash

{{template "bash/pyenv_shell_config.sh" .}}

export PATH="/home/$USER/.local/share/bob/nvim-bin:$PATH"

{{- if ne .chezmoi.hostname "USMINDARBURGES1" }}
export OPENAI_API_KEY=op://Back-End/openai_api_key/credential
{{- end }}

export TODOIST_API_KEY=op://Back-End/todoist_api_key/credential


. "$HOME/.cargo/env"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"


export PATH=$PATH":$HOME/bin"

{{- if eq .chezmoi.hostname "USMINDARBURGES1" }}
export SNOWMIRROR_USERNAME=op://work/SNOWMIRROR/username
export SNOWMIRROR_PASSWORD=op://work/SNOWMIRROR_password
export DYNATRACE_EA_PROD_API_KEY=op://work/dynatrace_ea_prod_api_key/credential
{{- end }}

eval "$(starship init bash)"