[Personal]
source        = imaps://dargondab9%40gmail.com:{{ onepasswordRead "op://Back-End/google_app_login/password" }}@imap.gmail.com:993
outgoing      = imaps://dargondab9%40gmail.com:{{ onepasswordRead "op://Back-End/google_app_login/password" }}@smtp.gmail.com:587
default       = INBOX
from          = Darrion Burgess <dargondab9@gmail.com>
cache-headers = true
