[Unit]
Description=Neovide GUI Instance (On-Demand Neovim Connection)
Documentation=https://neovide.dev

[Service]
Type=exec
Requires=neovim-server.service
ExecStart=/usr/bin/neovide --server /run/user/1000/nvim/backend.sock

[Install]
WantedBy=graphical.target