[Unit]
Description=Neovim Embedded Server (Backend)
Documentation=man:nvim

[Service]
Type=exec
RuntimeDirectory=nvim
ExecStart=/usr/bin/nvim --headless --listen %t/nvim/backend.sock
Restart=on-success

[Install]
WantedBy=default.target