[Unit]
Description=Daily Google Drive backup of Documents

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
