export (envsubst < ~/.env)

set -gx WWW_HOME "http://www.duckduckgo.com"

fish_add_path --append --path ~/.cargo/bin

fish_vi_key_bindings

set -gx TODOIST_API_KEY {{ onepasswordRead "op://Back-End/todoist_api_key/credential" }}
{{- if eq .chezmoi.hostname "USSFODARBURGES3" }}
set -gx OPENAI_API_BASE "https://api.githubcopilot.com"
set -gx SNOW_MIRROR_DADBOD = {{ onepasswordRead "op://work/SNOWMIRROR/dadbod" }}
{{ else }}
set -gx OPENROUTER_API_KEY {{ onepasswordRead "op://Back-End/OpenRouter/api_key" }}
{{- end}}

function RestartNvimServer
 systemctl --user restart neovim-server
end

function SpawnNeovideWindow
 systemctl --user start neovide-window
end

starship init fish | source

nerdfetch