[Unit]
Description=Neovim Server Socket (On-Demand Activation)
Documentation=man:nvim

[Socket]
ListenStream=%h/.cache/nvim/server.pipe
SocketMode=0600
RemoveOnStop=yes

[Install]
WantedBy=sockets.target