{{- template "Neovim/lua/plugins/chatGPT.lua" . -}}
{{- template "Neovim/lua/plugins/chezmoi.lua" . -}}
{{- template "Neovim/lua/plugins/firenvim.lua" . -}}
{{- template "Neovim/lua/plugins/gitDiff.lua" . -}}
{{- template "Neovim/lua/plugins/lspLines.lua" . -}}
{{- template "Neovim/lua/plugins/neotest.lua" . -}}
{{- template "Neovim/lua/plugins/plantUml.lua" . -}}
{{- template "Neovim/lua/plugins/rest.lua" . -}}
{{- template "Neovim/lua/plugins/symbolsOutline.lua" . -}}
{{- template "Neovim/lua/plugins/telescope.lua" . -}}
{{- template "Neovim/lua/plugins/neorg.lua" . -}}
