[Unit]
Description=Neovim Embedded Server (Backend)
Documentation=man:nvim

[Service]
Type=simple
ExecStart=/home/primary_desktop/.local/share/bob/nvim-bin/nvim --headless --listen /run/user/%U/nvim/neovim-backend.sock

[Install]
WantedBy=default.target