[Unit]
Description=Neovide GUI Instance (On-Demand Neovim Connection)
Documentation=https://neovide.dev
After=neovim-server-proxy.socket

[Service]
Type=exec
ExecStart=/usr/bin/neovide --server /run/user/1000/nvim/server.sock

[Install]
WantedBy=default.target