[Unit]
Description=Neovim Embedded Server (Socket Activated) Proxy
Documentation=man:systemd-socket-proxyd
Requires=neovim-server.service
After=neovim-server.service
Requires=neovim-server-proxy.socket
After=neovim-server-proxy.socket

[Service]
Type=notify
ExecStart=/usr/lib/systemd/systemd-socket-proxyd --exit-idle-time=60 /run/user/%U/nvim/neovim-backend.sock
PrivateTmp=yes
PrivateNetwork=yes